<div class = "container" style="padding-top:100px">
  <form name="form" novalidate #f="ngForm" (ngSubmit)="f.form.valid && processForm(f)">

    <!-- password -->
    <div class="form-group">
      <label class = "label">New Password</label>
      <input type="password" #newPassword="ngModel" name="newPassword"
	     class="form-control" placeholder="Your Password"
	     [(ngModel)]="user.newPassword" required
	     pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,]).{8,}">
      <div *ngIf="newPassword.invalid && newPassword.errors.pattern && 
                  (newPassword.dirty || newPassword.touched)"
	   class="alert alert-danger">
	Must contain at least one number and one uppercase and lowercase letter,
	and at least 8 or more characters.</div>
    </div>

    <!-- confirm password -->
    <div class="form-group">
      <label class = "label">Confirm Password</label>
      <input type="password" #cpassword="ngModel"
	     [ngModelOptions]="{standalone: true}"
	     class="form-control"  placeholder="Confirm Password"
	     [ngModel]="user.matchingPassword" required
	     pattern="{{ newPassword.value }}"> 
      <div *ngIf="cpassword.invalid && cpassword.errors.pattern && 
                 (cpassword.dirty || cpassword.touched)"
	   class="alert alert-danger">
	Passwords must match.</div>
    </div>

     <!-- confirm password -->
    <div class="form-group">
      <label class = "label">Token</label>
      <input type="text" #token="ngModel"
	     name="token" class="form-control"
	     placeholder="Password Token" [(ngModel)]="user.token" required> 
      <div *ngIf="token.invalid && (token.dirty || token.touched)"
	   class="alert alert-danger">
	Invalid Token.</div>
    </div>
    
    <div *ngIf="error != null">
	<div *ngIf="error.status >= 400">
          <div class = "alert alert-danger">{{error.error.message}}</div>
      	</div>
      </div>
      
      <div *ngIf="message != null">
      	<div *ngIf="message.body.message != 'Success'; else elseBlock">
         <div class = "alert alert-danger">{{message.body.message}}</div>
      	</div>
      	<ng-template #elseBlock>
      	  <div class = "alert alert-success">{{message.body.message}}</div>
      	</ng-template>
      </div>
      
      <button [disabled]="!f.form.valid" type="submit"
	      class="btn btn-outline-dark btn-light">Submit</button>    
  </form>
</div>

