<div class = "container" style="padding-top:100px">
  <form name="form" novalidate #f="ngForm" (ngSubmit)="f.form.valid && processForm(f)">

   <div class="form-group">
      <label class = "label">Email</label>
      <input type="email" #email="ngModel"
	     name="email" class="form-control"
	     placeholder="Your Email" [(ngModel)]="user.email" required email>
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
	   class="alert alert-danger">
	Email is required and must be a valid email address.</div>
   </div>
   
   <div *ngIf="message != null">
     <div *ngIf="message.body.message != 'Success'; else elseBlock">
       <div class = "alert alert-danger">{{message.body.message}}</div>
     </div>
     <ng-template #elseBlock>
       <div class = "alert alert-success">{{message.body.message}}</div>
     </ng-template>
   </div>
   
   <button [disabled]="!f.form.valid" type="submit"
	   class="btn btn-outline-dark btn-light">Submit</button>    
  </form>

